@font-face {
    font-family: josef;
    src: url(./fonts/JosefinSans-Regular.ttf);
}

:root{
    ---white-color: #fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: josef;
}
body{
    overflow-x: hidden;

}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

.top{
    width: 100vw;
    min-height: 35vh;
    background-image: url(./images/light.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.todo{
    position: absolute;
    width: 30vw;
    top: 10%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 50px;
}

.heading h1{
    color: var(---white-color);
    font-size: 24px;
    letter-spacing: 5px;
}

.add-task{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(---white-color);
    height: 45px;
    border-radius: 5px;
    gap: 10px;
    margin-bottom: 30px;
}

.add-task button{
    background: var(---white-color);
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}

.add-task input{
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    text-align: left;
}

.list{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: var(---white-color);
    margin-bottom: 30px;
    box-shadow: 1px 10px 5px 10px rgba(0,0,0,0.04);
    -webkit-box-shadow: 1px 10px 5px 10px rgba(0,0,0,0.04);
    -moz-box-shadow: 1px 10px 5px 10px rgba(0,0,0,0.04);
}

.list ul{
    list-style: none;
    text-decoration: none;
}

.list ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #f5f5f5;

}

.list ul li div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.checked{
    text-decoration: line-through;
    color: #555;
}

.checked::before{
    background-image: url(./icons/tick\ in\ circle.png);
}

.list ul li .delete{
    width: 10px;
}

.list-menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    margin-top: 60px;
    font-size: smaller;
    color: gray;
}

.list-options{
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-options >p:hover{
    color: black;
    cursor: pointer;
}

.clear-option >p:hover{
    color: black;
    cursor: pointer;
}

.drag-and-drop-text{
    margin-top: 40px;
    width: 100%;
    text-align: center;
}